<mat-nav-list>
  <a mat-list-item routerLink="/admin/dashboard">
    <mat-icon>insert_chart_outlined</mat-icon>
    <span class="nav-link">Dashboard</span>
  </a>

  <a mat-list-item routerLink="/admin/users">
    <mat-icon>usuarios</mat-icon>
    <span class="nav-link">Usuarios</span>
  </a>

  <a mat-list-item (click)="onExit()">
    <mat-icon>Salir</mat-icon>
    <span class="nav-link">Exit</span>
  </a>

  <mat-nav-list>
    <a mat-list-item routerLink="/carga">
      <mat-icon>---</mat-icon>
      <span class="nav-link">Cargar Archivos</span>
    </a>
</mat-nav-list>
