.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  p {
    margin: 0;
    padding: 5% 0 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.5em;
    color: #555;
    letter-spacing: 0.05em;
    text-align: center;
  }