<div class="container afu-container">

  <h3 class="title">Carga de archivos</h3>

  <div class="border">
    <h4>Cargar documentos</h4>
    <angular-file-uploader [resetUpload]=resetUpload1 [config]="afuConfig1" class="afuc" (ApiResponse)="docUpload($event)">
    </angular-file-uploader>
  </div>
  <br>
  <br>

  <div class="border">
    <h4>Example-2 (Theme - dragNDrop)</h4>
    <angular-file-uploader [config]="afuConfig3" [resetUpload]=resetUpload3 (ApiResponse)="docUpload($event)">
    </angular-file-uploader>
  </div>
  <br>
  <br>

  

