<mat-toolbar color="primary">
  <ng-container *ngIf="isAdmin === 'admin'">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </ng-container>
  <a mat-button routerLink="/home">PLAN ANTICORRUPCION</a>
  <span class="spacer"></span>
  <a *ngIf="!isAdmin; " mat-button routerLink="/login">Iniciar Sesion</a>
  <a *ngIf="!isAdmin; " mat-button (click)="onOpenModal()">Registro</a>
  <a *ngIf="isAdmin === 'admin'; else viewLogout" mat-button routerLink="/admin/users">Administrador</a>
  <a *ngIf="isAdmin === 'usuario'" mat-button routerLink="/admin/perfil">Perfil</a>
  <a *ngIf="isAdmin === 'usuario'" mat-button routerLink="/pqrds">PQRDS</a>
</mat-toolbar>

<ng-template #viewLogout>
  <a mat-button routerLink="/ayuda">Ayuda</a>
  <a mat-button (click)="onLogout()">Salir</a>

</ng-template>
