mat-sidenav {
  width: 200px;
}

mat-sidenav-content {
  background-color: #f9fbfb;
}

mat-sidenav-container {
  height: 100%;
}

#canvasholder {
  height: 150px;
  width: 150px;
}
.dashboard {
  height: 150px;
  width: 150px;
}
