 strong {
  font-family: 'WorkSans', Semibold;
  font-weight: bold;
  max-width: var(--max_ancho_parrafo);
   text-align: center;
}

 p {
    text-align: center;
}
 h4 {
text-align: center;
   color: #171717;
}
.h1 {
  align: "center";
}

.a {
  text-align-last:center;
}
 .tabs {
   width: 100%;
   display: inline-block;
 }
 .box-creditos .title {
   margin: 10px 0;
   display: block;
   font-weight: 900;
 }
 .box-creditos .box-virtual__content {
   padding: 0;
 }
 .internas .item {
   width: 100%;
   display: inline-block;
   margin-bottom: 10px;
 }
 internas .item p {
   width: 100%;
   display: inline-block;
   margin-bottom: 10px;
   font-size: 0.9em;
 }
 .accordion .content {
   display: none;
   border-right: 1px solid #E8E9EB;
   border-left: 1px solid #E8E9EB;
   border-bottom: 1px solid #E8E9EB;
   padding: 20px;
   float: left;
 }
 .internas .item {
   width: 100%;
   display: inline-block;
   margin-bottom: 10px;
 }
 .tab.active {
   display: block;
 }

 .pqr_cont_left {
   float: left;
   width: 75%;
 }
