<br> <br/>
<p text-a> Plan Anticorrupción y de Atención al Ciudadano </p>
<br> <br/>
<h4 style="color: #020101 ;"> 1.¿Qué es el Plan Anticorrupción y de Atención al Ciudadano?</h4>
Respuesta: Es un instrumento de tipo preventivo para el control de la corrupción, su metodología incluye cinco (5) componentes autónomos e independientes, que contienen parámetros y soporte normativo propio y existe un componente de iniciativas adicionales que permitan fortalecer su estrategia de lucha contra la corrupción.
La obligación para que las entidades formulen un Plan Anticorrupción y de Atención al Ciudadano nace del Estatuto Anticorrupción, para que propongan iniciativas dirigidas a combatir la corrupción mediante mecanismos que faciliten su prevención, control y seguimiento.
<br> <br/>
<br> <br/>
<h4 style="color: #020101 ;"> 2.¿Quiénes tienen que publicar el Plan Anticorrupción y de Atención al Ciudadano?</h4>
Respuesta: El artículo 73 de la ley 1474 de 2011 “Estatuto Anticorrupción” establece que el
  Plan debe elaborarse por todas las Entidades de orden nacional, departamental y municipal”.
<br> <br/>
<br> <br/>
<h4 style="color: #020101 ;" >3.¿El Plan Anticorrupción y de Atención al Ciudadano se puede elaborar dentro del Plan de Acción?</h4>
Respuesta: SI, teniendo en cuenta que las cinco (5) políticas de desarrollo administrativo están incorporadas en el Plan de Acción y el Plan Anticorrupción y de Atención al Ciudadano - PAAC se encuentra dentro de la Política de “Transparencia, participación y servicio al ciudadano”. Por lo anterior, no es obligatorio que el PAAC sea un documento independiente del Plan de Acción Anual.
<br> <br/>
<br> <br/>
<h4 style="color: #020101 ;"> 4.¿El Plan Anticorrupción es independiente del Modelo Integrado de Planeación y Gestión?</h4>
Respuesta: NO. El Plan Anticorrupción y de Atención al Ciudadano está contemplado en el Modelo Integrado de Planeación y Gestión, que articula el quehacer de las entidades, mediante los lineamientos de cinco (5) políticas de desarrollo administrativo y el monitoreo y evaluación de los avances en la gestión institucional y sectorial.
<br> <br/>
<br> <br/>
<h4 style="color: #020101 ;"> 5.¿Cuál es el plazo para elaborarlo? </h4>
Respuesta: El artículo 2.1.4.8. del Decreto 1081 de 2015 “Por medio del cual se expide el Decreto Reglamentario Único del Sector Presidencia de la República" indica que las  entidades del orden nacional, departamental y municipal deberán publicar en un medio de fácil acceso al ciudadano su Plan Anticorrupción y de Atención al Ciudadano a más tardar el 31 de enero de cada año.
<br> <br/>
<br> <br/>
<h4 style="color: #020101 ;"> 6.Dónde debe publicarse? </h4>
Respuesta: Los artículos 2.1.1.2.1.4. y 2.1.4.8. del Decreto 1081 de 2015 “Por medio del cual se expide el Decreto Reglamentario Único del Sector Presidencia de la República", señala que el Plan Anticorrupción y de Atención al Ciudadano se deberá publicar en la página web de la entidad en la sección denominada “Transparencia y acceso a la información pública”.
<br> <br/>
<br> <br/>
<h4 style="color: #020101 ;">7.¿Qué pasa con las entidades que no cuentan con página web y por ende no pueden  publicar el
  Plan Anticorrupción y de Atención al Ciudadano en la sección denominada “Transparencia y acceso a la información pública”? </h4>
Respuesta: Si la entidad no cuenta con página web, puede publicar el Plan Anticorrupción y de Atención al Ciudadano, en un medio de fácil acceso al ciudadano, como carteleras, murales etc.
<br> <br/>
<br> <br/>

