.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }
  p {
    margin: 0;
    padding: 2% 0 4%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.5em;
    color: #555;
    letter-spacing: 0.05em;
    text-align: center;
  }
