


.card-container {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
  }
  .card-content {
    width: 400px;
    display: block;
    margin: 0 auto;
  }