<div class="card-container">
	<div class="card-content ">
<mat-card style="margin-top:15px;"  *ngFor="let recipe of recipeCollection; let i =index" 
(click) = 'toggle(i)' >
  <mat-card-header (click) = 'allow=!allow'  style=" cursor: pointer">
   <img  mat-card-avatar src="{{recipe.imagePath}}" 
    alt='image cannot Load' >
    <mat-card-title>{{ recipe.name }}</mat-card-title>
    <mat-card-subtitle>{{ recipe.name }} subtitle</mat-card-subtitle>
  </mat-card-header>
  <div style="margin-top:20px;"[attr.id]="'undoBtn'+i" *ngIf="showBtn===i"> 
     <img mat-card-image  src="{{recipe.imagePath}}" 
    alt='image cannot Load' >
  <mat-card-content >
    <p>
   {{recipe.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click) = "onDelete(i)">Delete</button>
    <button mat-raised-button color="primary">Edit</button>
  </mat-card-actions></div>

</mat-card>
  </div>
</div> 
