.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-right: auto;
  margin-left:auto;
  margin-top: 2%;
}
.example-button-row button,
.example-button-row a {
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
