<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>EDITAR USUARIO</mat-label>
    <input matInput disabled value="">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Id</mat-label>
      <input matInput disabled value="">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Correo Electronico</mat-label>
      <input matInput>
    </mat-form-field></td>
  </tr></table>

  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Dirección</mat-label>
      <textarea matInput placeholder="Ex. 100 Main St">Calle 86 Nº...</textarea>
    </mat-form-field>
  </p>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ciudad</mat-label>
      <input matInput placeholder="Ex. San Francisco">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Tipo de usuario</mat-label>
      <input matInput disabled value="usuario">
    </mat-form-field></td>
    </table>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="onOpenModal">Editar</button>
    <button mat-raised-button color="accent" routerLink="/home">Inicio</button>
  </div>
</form>
